# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de respaldo
*~

# Ignorar archivos de compilación y ejecutables
*.o
*.out
*.exe

# Ignorar directorios y archivos generados por herramientas de construcción
/build/
/dist/
/node_modules/
node_modules/

# Ignorar archivos de configuración local
.env
.env.local
.env.*.local

# Ignorar archivos de registro y salida
*.log
*.log.*
*.txt

# Ignorar archivos de dependencias de desarrollo
/dev-dependencies/

# Ignorar archivos de caché
.cache/