@import  '../../variables.scss';

.productContainer{
    max-height: 212px;
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 768px){
        flex-direction: column;
        align-items: center;
        max-height: none;
    }
}
.imageContainer{
   padding: 16px 16px 16px 0px;
}
.contentContainer{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    flex: 1;
    @media screen and (max-width: 768px){
        padding-top: 0px;
        gap:16px;
        padding-bottom: 16px;
    }
}
.price{
    font-size: 24px;
    font-weight: bold;
    color: $color2;
}
.title{
    color: $color2;
    font-size: 18px;
    font-weight: bold;
    max-width: 50%;
    @media screen and (max-width: 768px){
        max-width: 100%;
    }
}
.link{
    text-decoration: none;
}
.freeShipping{
    margin-left: 8px;
    .icon{
        border-radius: 50%;
        padding: 5px 5px;
        background-color: rgb(19, 229, 19);
        width: 12px;
        height: 12px;
    }
}