@import  '../../variables.scss';

.outterContainer{
    background-color: $color1;
}
.innerContainer{
    margin: 0 46px;
    width: calc(100% - 100%/12 * 2);
    margin: auto;
}
.logo{
    width: 40px;
    height: 30px;
    margin: auto;
}
.searchBar{
    display: flex;
    gap: 18px;
}