$color1: #FFE600;
$color2: #333333;
$color3: #666666;
$color4: #999999;
$color5: #EEEEEE;
$color6: #3483FA;
$color7: #FFFFFF;

:export {
    color1: $color1;
    color2: $color2;
    color3: $color3;
    color4: $color4;
    color5: $color5;
    color6: $color6;
    color7: $color7;
}