@import  '../../variables.scss';

.outterContainer{
    background-color: $color1;
}
.innerContainer{
    margin: 0 46px;
    width: calc(100% - 100%/12 * 2);
    margin: auto;
}
.logo{
    width: 40px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}
.searchBar{
    display: flex;
    gap: 18px;
}

.searchBarInputContainer{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBarInput{
    height: 20px;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 15px 10px 15px;
    color: $color2;
    border: none;
}
.searchBarInput::placeholder{
    color: $color4;
}
.iconContainer{
    background-color: $color5;
    height: 20px;
    padding: 10px;
}
.icon {
    padding: 4px 4px;
    width: 16px;
    height: 16px;
}